<!doctype html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org/" th:replace="normal/UserBase::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
			<div class="container">
			<div class="row">
				<div class="col-md-7 offset-md-2">
					<h1 class="text-center"> Compose Email <i class="fa-solid fa-envelope"></i></h1>
					<form action="" th:action="@{/user/process-contact}" class="mt-2" id="contact-form"
						enctype="multipart/form-data">

						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Username</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> <i class="fa fa-user-alt"></i></div>
								</div>
								<input required type="text" class="form-control" id="to" 
									placeholder="To">
							</div>
						</div>

						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Lastname</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> <i class="fa fa-user-alt"></i></div>
								</div>
								<input type="text" class="form-control" id="from" 
									placeholder="From">
							</div>
						</div>

						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Lastname</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> +</div>
								</div>
								<input type="text" class="form-control" id="subject" 
									placeholder="subject">
							</div>
						</div>

						


						<div class="form-group">
							<label for="exampleFormControlTextarea1" style="font-weight: 900;">Message</label>
							<textarea class="form-control" name="description" id="description" rows="3"
								placeholder="Description about yourself !"></textarea>
						</div>

						<div>
							<input type="file" id="image" name="image">

						</div>
						<div class="text-center">
							<button onclick="sendEmail()" type="button" class="btn btn-success">
								Send Email
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector: '#description'
			});
		</script>
	</section>
</body>
</html>