<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="normal/UserBase::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-7 offset-md-2">
					<h1 class="text-center"> Update Contact</h1>
					<form action="" th:action="@{/user/process-contact}" class="mt-2" id="contact-update-form"
						enctype="multipart/form-data">
						<input type="hidden" th:value="${contact.cId}" name="cId" id="cId"/>
						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Username</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> <i class="fa-solid fa-plus"></i></div>
								</div>
								<input th:value="${contact.name}" required type="text" class="form-control" id="name" name="name"
									placeholder="Enter Name">
							</div>
						</div>

						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Lastname</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> <i class="fa fa-user-alt"></i></div>
								</div>
								<input th:value="${contact.secondName}" type="text" class="form-control" id="secondName" name="secondName"
									placeholder="Lastname">
							</div>
						</div>

						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Lastname</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> @</div>
								</div>
								<input th:value="${contact.email}" type="email" class="form-control" id="email" name="email"
									placeholder="email@123">
							</div>
						</div>

						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Lastname</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> <i class="fa fa-phone"></i></div>
								</div>
								<input th:value="${contact.phone}" required pattern="^\+[0-9]{10,15}$" type="number" class="form-control"
									name="phone" id="phone" placeholder="+91...">
							</div>
						</div>


						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Lastname</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> <i class="fa fa-briefcase"></i></div>
								</div>
								<input th:value="${contact.work}" type="text" class="form-control" name="work" id="work" placeholder="Work...">
							</div>
						</div>


						<div class="form-group">
							<label for="exampleFormControlTextarea1" style="font-weight: 900;">About Yourself</label>
							<textarea class="form-control" th:value="${contact.description}" name="description" id="description" rows="3"
								placeholder="Description about yourself !"></textarea>
						</div>
						
						<div class="container text-center">
								<img src="" style="height: 300px; width: 300px; border-radius: 50%;"  th:src="@{'/img/'+${contact.image}}"  alt="No image" />
						</div>
						<h3>Choose new profile pic</h3>
						<div>
							<input type="file" id="image" name="image">

						</div>
						<div class="text-center">
							<button onclick="saveUpdatedContact()" type="button" class="btn btn-success">
								Update Contact
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		

	</section>
</body>

</html>